Faker==38.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
SQLAlchemy==2.0.44
SafoneAPI==1.0.70
Werkzeug==3.1.3
aiofiles==25.1.0
aiohttp==3.9.3
aiosignal==1.4.0
aiosqlite==0.21.0
anyio==4.11.0
apscheduler==3.11.1
async-timeout==4.0.3
async_pymongo==0.1.8
asyncio==3.4.3
attrs==25.4.0
autoray==0.8.2
bard==0.1
beautifulsoup4==4.14.2
bing_image_downloader==1.1.2
blackpink==0.6.1
bs4==0.0.2
certifi==2025.11.12
charset_normalizer==3.4.4
click==8.1.8
cloudscraper==1.2.71
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
cytoolz==1.1.0
decorator==5.2.1
deep_translator==1.11.4
deepai==1.0.1
dnspython==2.3.0
emojis==0.7.0
exceptiongroup==1.3.0
fake-useragent==0.1.14
ffmpeg-python==0.2.0
flask==2.2.2
fonttools==4.60.1
frozenlist==1.8.0
future==0.18.3
gitdb==4.0.12
gitpython==3.1.45
gpytranslate==1.5.1
greenlet==3.2.4
gtts==2.5.4
h11==0.16.0
h2==4.3.0
hachoir==3.3.0
heroku3==5.2.1
hpack==4.1.0
httpcore==1.0.9
httpx==0.25.2
humanfriendly==10.0
hyperframe==6.1.0
idna==3.11
imageio==2.37.2
imageio_ffmpeg==0.6.0
itsdangerous==2.2.0
kiwisolver==1.4.9
kurigram==2.2.15
lexica-api==1.4.7
llvmlite==0.45.1
lxml==4.9.4
lyricsgenius==3.7.3
matplotlib==3.10.7
motor==3.7.1
moviepy==2.2.1
mpv==1.0.8
multidict==6.7.0
mysql-connector-python==9.0.0
networkx==3.4.2
numba==0.62.1
numpy==2.2.6
openai==0.28.0
opencv-python-headless==4.9.0.80
opt-einsum==3.4.0
packaging==25.0
pillow==9.5.0
pornhub-api==0.2.0
proglog==0.1.12
propcache==0.4.1
psutil==7.1.3
py-tgcalls==0.9.7
pyTelegramBotAPI==4.29.1
pyaes==1.6.1
pyasn1==0.6.1
pycountry==24.6.1
pydantic==1.10.24
pydub==0.25.1
pyfiglet==1.0.4
pykeyboard==0.1.5
pymongo==4.15.4
pyparsing==3.2.5
pyrogram==2.0.106
pyshorteners==1.0.1
pysocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytube==15.0.0
pytz==2025.2
pyyaml==6.0.1
qrcode==8.2
quimb==1.4.0
redis==7.1.0
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
rsa==4.9.1
scipy==1.15.3
screeninfo==0.8.1
search_engine_parser==0.6.8
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
speedtest-cli==2.1.3
spotipy==2.25.1
stripe==10.7.0
telebot==0.0.5
telegraph==2.2.0
telethon==1.33.1
tgcrypto==1.2.5
toolz==1.1.0
tqdm==4.67.1
typing-extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
unidecode==1.4.0
urllib3==2.5.0
wget==3.2
yarl==1.22.0
youtube-search-python==1.6.6
youtube_dl==2021.12.17
youtube_search==2.1.2
yt-dlp==2025.11.12
