aiofiles
aiohttp==3.10.11
apscheduler
asyncio==3.4.3
bard
beautifulsoup4
bing_image_downloader
blackpink
bs4
cloudscraper
dnspython==2.6.1
emojis
Faker
ffmpeg-python
future==0.18.3
gTTS
gitpython
googlesearch-python
hachoir
heroku3
httpx>=0.28.1
lexica-api==1.5.9
lyricsgenius==3.0.0
mpv
moviepy
MukeshAPI
motor==3.4.0
mysql-connector-python==9.0.0
ntgcalls==1.1.2
opencv-python-headless==4.10.0.84
pyrogram==2.0.106
pillow==10.4.0
psutil
py-tgcalls==1.2.9
pyfiglet
pykeyboard
pyshorteners
pydub
pycountry
python-dotenv
python-telegram-bot==21.1.1
pyyaml==6.0.2
qrcode
requests
safoneapi @ git+https://github.com/AsmSafone/SafoneAPI
search_engine_parser
speedtest
spotipy
stripe==10.7.0
tgcrypto
telegraph==2.2.0
telethon==1.36.0
telebot==0.0.5
unidecode
Flask==2.2.2
kurigram
yt-dlp
youtube_dl==2021.12.17
youtube_search
youtube-search-python
openai==1.41.0
wget
